name: Build Image

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Install Dependencies
      run: sudo apt install coreutils p7zip-full qemu-user-static
    - name: Checkout CustomPiOS
      uses: actions/checkout@v2
      with:
        repository: 'guysoft/CustomPiOS'
        path: CustomPiOS
    - name: Checkout Project Repository
      uses: actions/checkout@v2
      with:
        repository: ${{ github.repository }}
        path: repository
        submodules: true
    - name: Download Raspbian Image
      run: cd repository/src/image && wget -q -c --trust-server-names 'https://downloads.raspberrypi.org/raspbian_lite_latest'
    - name: Update CustomPiOS Paths
      run: cd repository/src && ../../CustomPiOS/src/update-custompios-paths
    - name: Build Image
      run: sudo modprobe loop && cd repository/src && sudo bash -x ./build_dist
    - name: Copy Output
      run: cp ${{ github.workspace }}/repository/src/workspace/*-raspbian-buster-lite.img build.img
    - name: Zip Output
      run: gzip build.img
    - uses: actions/upload-artifact@v1
      with:
        name: build.img.gz
        path: build.img.gz
